.ui-granters{
  .ui-granters-label{
    font-size: .7rem;
    line-height: 32px;
  }
  .ui-granters-search input{
    width:100%;
    padding:.2rem .3rem;
    box-sizing: border-box;
  }
  .ui-granters-selected{
    margin-top:15px;
  }
  .ui-granters-users{
    border:1px solid #ccc;
    min-height: 220px;
    max-height: 220px;
    padding:4px 6px;4
    overflow: auto;
  }
  .ui-granters-user{
    border:1px solid #ccc;
    padding:4px 6px;
    margin:5px 9px;
    width:200px;
    float:left;
    position: relative;
    .ui-granters-user-label{
      width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .ui-granters-del{
    position:absolute;
    right:-6px;
    top:3px;
    cursor:pointer;
  }
}
