.ui-granters{
  .ui-granters-label{
    font-size: .7rem
  }
  .ui-granters-selected{
    margin-top:15px;
  }
  .ui-granters-users{
    border:1px solid #ccc;
    min-height: 110px;
    max-height: 200px;
    padding:4px 6px;
    overflow: auto;
  }
  .ui-granters-user{
    border:1px solid #ccc;
    padding:4px 6px;
    margin:5px;
    width:120px;
    float:left;
    position: relative;
    .ui-granters-user-label{
      width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .ui-granters-del{
    position:absolute;
    right:-5px;
    top:3px;
    cursor:pointer;
  }
}
